## 睡眠段階の定義

In [1]:
# ラベル名をIDに置き換える
# Sleep stage 3とSleep stage 4を同じIDとして、AASMによる分類に変更する
RANDK_LABEL2ID = {
    'Movement time': -1,
    'Sleep stage ?': -1,
    'Sleep stage W': 0,
    'Sleep stage 1': 1,
    'Sleep stage 2': 2,
    'Sleep stage 3': 3,
    'Sleep stage 4': 3,
    'Sleep stage R': 4
}

# AASMによる分類
LABEL2ID = {
    'Movement time': -1,
    'Sleep stage ?': -1,
    'Sleep stage W': 0,
    'Sleep stage 1': 1,
    'Sleep stage 2': 2,
    'Sleep stage 3/4': 3,
    'Sleep stage R': 4
}
ID2LABEL = {v:k for k, v in LABEL2ID.items()}

## ライブラリのインストールとデータ設定

In [2]:
import os
os.chdir('/sleep-stage-detection/')

In [14]:
import datetime
from pathlib import Path

import warnings
from tqdm.auto import tqdm
from typing import Dict, List

import mne
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

import lightgbm as lgb

from src.config import *

warnings.filterwarnings('ignore')

## データの読み込み

In [4]:
train_record_df = pd.read_csv(PATH_TRAIN_DATA)
test_record_df = pd.read_csv(PATH_TEST_DATA)
sample_submission_df = pd.read_csv(PATH_SAMPLE_SUBMIT, parse_dates=[1])

In [5]:
INPUT_DIR = Path("input/")
EDF_DIR = INPUT_DIR / "edf_data"

In [6]:
# パスを指定
train_record_df["hypnogram"] = train_record_df["hypnogram"].map(lambda x: str(EDF_DIR/x))
train_record_df["psg"] = train_record_df["psg"].map(lambda x: str(EDF_DIR/x))
test_record_df["psg"] = test_record_df["psg"].map(lambda x: str(EDF_DIR/x))

In [7]:
# 確認用
display(train_record_df.head())
display(test_record_df.head())

,id,subject_id,night,age,sex,lights_off,psg,hypnogram
0,3c1c5cf,07c46da,1,90,male,23:28:00,input/edf_data/3c1c5cf-PSG.edf,input/edf_data/3c1c5cf-Hypnogram.edf
1,8fbd71b,07c46da,2,90,male,01:29:00,input/edf_data/8fbd71b-PSG.edf,input/edf_data/8fbd71b-Hypnogram.edf
2,9d5e9ec,21969ff,1,51,female,23:10:00,input/edf_data/9d5e9ec-PSG.edf,input/edf_data/9d5e9ec-Hypnogram.edf
3,e0df8c0,21969ff,2,51,female,23:15:00,input/edf_data/e0df8c0-PSG.edf,input/edf_data/e0df8c0-Hypnogram.edf
4,3e404fc,22b58e8,1,51,female,22:38:00,input/edf_data/3e404fc-PSG.edf,input/edf_data/3e404fc-Hypnogram.edf

,id,subject_id,night,age,sex,lights_off,psg
0,53c1555,17ca2cd,1,91,female,00:15:00,input/edf_data/53c1555-PSG.edf
1,29ef1d5,17ca2cd,2,91,female,23:39:00,input/edf_data/29ef1d5-PSG.edf
2,c90b6e7,2c77159,1,56,female,23:55:00,input/edf_data/c90b6e7-PSG.edf
3,a61e635,2c77159,2,56,female,00:13:00,input/edf_data/a61e635-PSG.edf
4,2cb6860,40dc0bc,1,52,male,23:03:00,input/edf_data/2cb6860-PSG.edf

## 関数定義

In [12]:
def epoch_to_df(epoch:mne.epochs.Epochs) -> pd.DataFrame:
    truncate_start_point = epoch.info["temp"]["truncate_start_point"]
    
    df = epoch.to_data_frame(verbose=False)
    
    new_meas_date = epoch.info["meas_date"].replace(tzinfo=None) + datetime.timedelta(seconds=truncate_start_point)
    
    df["meas_time"] = pd.date_range(start=new_meas_date, periods=len(df), freq=pd.Timedelta(1 / 100, unit="s"))
    
    return df

In [16]:
def epoch_to_sub_df(epoch_df:pd.DataFrame, id, is_train:bool) -> pd.DataFrame:
    cols = ["id", "meas_time"]
    if is_train:
        # 訓練セットの場合はラベルを追加
        cols.append("condition")
    
    label_df = epoch_df.loc[epoch_df.groupby("epoch")["time"].idxmin()].reset_index(drop=True)
    label_df["id"] = id
    
    return label_df[cols]

In [8]:
def read_and_set_annoation(record_df:pd.DataFrame, include=None, is_test=False) -> List[mne.epochs.Epochs]:
    whole_epoch_data = []

    for row_id, row in tqdm(record_df.iterrows(), total=len(record_df)):        
        # PSGファイルとHypnogram(アノテーションファイルを読み込む)
        psg_edf = mne.io.read_raw_edf(row["psg"], include=include, verbose=False)
        
        if not is_test:
            # 訓練データの場合
            annot = mne.read_annotations(row["hypnogram"])

            # 切り捨て
            truncate_start_point = 3600 * 5
            truncate_end_point = (len(psg_edf)/100) - (3600 *5)
            annot.crop(truncate_start_point, truncate_end_point, verbose=False)

            # アノテーションデータの切り捨て
            psg_edf.set_annotations(annot, emit_warning=False)
            events, _ = mne.events_from_annotations(psg_edf, event_id=RANDK_LABEL2ID, chunk_duration=30., verbose=False)
            
            event_id = LABEL2ID
        else:
            # テストデータの場合
            start_psg_date = psg_edf.info["meas_date"]
            start_psg_date = start_psg_date.replace(tzinfo=None)

            test_start_time = sample_submission_df[sample_submission_df["id"]==row["id"]]["meas_time"].min()
            test_end_time = sample_submission_df[sample_submission_df["id"]==row["id"]]["meas_time"].max()
            
            truncate_start_point = int((test_start_time - start_psg_date).total_seconds())
            truncate_end_point = int((test_end_time- start_psg_date).total_seconds())+30
            
            event_range = list(range(truncate_start_point, truncate_end_point, 30))
            events = np.zeros((len(event_range), 3), dtype=int)
            events[:, 0] = event_range
            events = events * 100
            
            event_id = {'Sleep stage W': 0}
            
    
        # 30秒毎に1epochとする
        tmax = 30. - 1. / psg_edf.info['sfreq']
        epoch = mne.Epochs(raw=psg_edf, events=events, event_id=event_id, tmin=0, tmax=tmax, baseline=None, verbose=False, on_missing='ignore')
        
        # 途中でデータが落ちてないかチェック
        assert len(epoch.events) * 30 == truncate_end_point - truncate_start_point
        
        # メタデータを追加
        epoch.info["temp"] = {
            "id":row["id"],
            "subject_id":row["subject_id"],
            "night":row["night"],
            "age":row["age"],
            "sex":row["sex"],
            "truncate_start_point":truncate_start_point
        }

        whole_epoch_data.append(epoch)

    return whole_epoch_data

In [9]:
# 処理を簡単にするためにEEG Fpz-Czのみ読み込みます
# またtrainをすべて処理するには少し時間がかかるため、ここでは半分ほどの50を利用することにします
train_record_subset_df = train_record_df.sample(n=50).reset_index(drop=True)

train_subset_epoch = read_and_set_annoation(train_record_subset_df, include=["EEG Fpz-Cz"], is_test=False)
test_whole_epoch = read_and_set_annoation(test_record_df, include=["EEG Fpz-Cz"], is_test=True)

  0%|          | 0/50 [00:00<?, ?it/s]

  0%|          | 0/45 [00:00<?, ?it/s]

## 特徴量エンジニアリング

In [10]:
def eeg_power_band(epochs):
    """EEG relative power band feature extraction.

    This function takes an ``mne.Epochs`` object and creates EEG features based
    on relative power in specific frequency bands that are compatible with
    scikit-learn.

    Parameters
    ----------
    epochs : Epochs
        The data.

    Returns
    -------
    X : numpy array of shape [n_samples, 5]
        Transformed data. 
    """
    # specific frequency bands
    FREQ_BANDS = {"delta": [0.5, 4.5],
                  "theta": [4.5, 8.5],
                  "alpha": [8.5, 11.5],
                  "sigma": [11.5, 15.5],
                  "beta": [15.5, 30]}

    spectrum = epochs.compute_psd(picks='eeg', fmin=0.5, fmax=30. ,verbose=False)
    psds, freqs = spectrum.get_data(return_freqs=True)
    # Normalize the PSDs
    psds /= np.sum(psds, axis=-1, keepdims=True)

    X = []
    for fmin, fmax in FREQ_BANDS.values():
        psds_band = psds[:, :, (freqs >= fmin) & (freqs < fmax)].mean(axis=-1)
        X.append(psds_band.reshape(len(psds), -1))

    return np.concatenate(X, axis=1)

In [17]:
train_df = []
for epoch in tqdm(train_subset_epoch):
    # 波形をdataframe化
    epoch_df = epoch_to_df(epoch)
    # submit形式のデータフレーム生成
    sub_df = epoch_to_sub_df(epoch_df, epoch.info["temp"]["id"], is_train=True)
    
    # パワースペクトル密度計算
    feature_df = pd.DataFrame(eeg_power_band(epoch))
    
    _df = pd.concat([sub_df, feature_df], axis=1)
    # 必要ないラベルがある場合は除外する
    _df = _df[~_df["condition"].isin(["Sleep stage ?", "Movement time"])]
    
    train_df.append(_df)
    
train_df = pd.concat(train_df).reset_index(drop=True)

  0%|          | 0/50 [00:00<?, ?it/s]

In [18]:
train_df["condition"].value_counts()

Sleep stage W      35487
Sleep stage 2      21455
Sleep stage R       7288
Sleep stage 1       6970
Sleep stage 3/4     3876
Name: condition, dtype: int64

In [19]:
# ラベルIDに変換
train_df["condition"] = train_df["condition"].map(LABEL2ID)

In [20]:
train_df

,id,meas_time,condition,0,1,2,3,4
0,5464ae3,1989-09-04 21:05:00,0,0.006058,0.000671,0.000291,0.000243,0.000315
1,5464ae3,1989-09-04 21:05:30,0,0.007440,0.000366,0.000178,0.000087,0.000084
2,5464ae3,1989-09-04 21:06:00,0,0.006651,0.000469,0.000289,0.000197,0.000220
3,5464ae3,1989-09-04 21:06:30,0,0.006988,0.000541,0.000366,0.000124,0.000112
4,5464ae3,1989-09-04 21:07:00,0,0.006886,0.000544,0.000378,0.000192,0.000118
...,...,...,...,...,...,...,...,...
75071,a168af0,1990-03-15 09:22:30,0,0.006501,0.000882,0.000211,0.000189,0.000166
75072,a168af0,1990-03-15 09:23:00,0,0.007052,0.000561,0.000181,0.000128,0.000125
75073,a168af0,1990-03-15 09:23:30,0,0.007285,0.000294,0.000157,0.000102,0.000147
75074,a168af0,1990-03-15 09:24:00,0,0.007569,0.000426,0.000121,0.000078,0.000047
75075,a168af0,1990-03-15 09:24:30,0,0.007071,0.000652,0.000231,0.000126,0.000086

## ベースモデル構築

In [21]:
# 20％の被験者を選ぶ
val_size = int(train_record_df["subject_id"].nunique() * 0.20)
train_all_subjects = train_record_df["subject_id"].unique()
np.random.shuffle(train_all_subjects)

val_subjects = train_all_subjects[:val_size]
val_ids = train_record_df[train_record_df["subject_id"].isin(val_subjects)]["id"]

In [22]:
# 検証セットを作成します
trn_df = train_df[~train_df["id"].isin(val_ids)]
val_df = train_df[train_df["id"].isin(val_ids)]

In [23]:
trn_df

,id,meas_time,condition,0,1,2,3,4
0,5464ae3,1989-09-04 21:05:00,0,0.006058,0.000671,0.000291,0.000243,0.000315
1,5464ae3,1989-09-04 21:05:30,0,0.007440,0.000366,0.000178,0.000087,0.000084
2,5464ae3,1989-09-04 21:06:00,0,0.006651,0.000469,0.000289,0.000197,0.000220
3,5464ae3,1989-09-04 21:06:30,0,0.006988,0.000541,0.000366,0.000124,0.000112
4,5464ae3,1989-09-04 21:07:00,0,0.006886,0.000544,0.000378,0.000192,0.000118
...,...,...,...,...,...,...,...,...
75071,a168af0,1990-03-15 09:22:30,0,0.006501,0.000882,0.000211,0.000189,0.000166
75072,a168af0,1990-03-15 09:23:00,0,0.007052,0.000561,0.000181,0.000128,0.000125
75073,a168af0,1990-03-15 09:23:30,0,0.007285,0.000294,0.000157,0.000102,0.000147
75074,a168af0,1990-03-15 09:24:00,0,0.007569,0.000426,0.000121,0.000078,0.000047
75075,a168af0,1990-03-15 09:24:30,0,0.007071,0.000652,0.000231,0.000126,0.000086

In [24]:
val_df

,id,meas_time,condition,0,1,2,3,4
1530,e0df8c0,1989-05-09 21:09:00,0,0.007059,0.000795,0.000144,0.000093,0.000077
1531,e0df8c0,1989-05-09 21:09:30,0,0.007500,0.000417,0.000144,0.000085,0.000061
1532,e0df8c0,1989-05-09 21:10:00,0,0.007296,0.000729,0.000140,0.000061,0.000039
1533,e0df8c0,1989-05-09 21:10:30,0,0.006992,0.000747,0.000152,0.000100,0.000105
1534,e0df8c0,1989-05-09 21:11:00,0,0.006589,0.000695,0.000269,0.000184,0.000182
...,...,...,...,...,...,...,...,...
57572,89ac2db,1989-04-27 10:03:30,0,0.007434,0.000654,0.000133,0.000066,0.000022
57573,89ac2db,1989-04-27 10:04:00,0,0.006235,0.001190,0.000413,0.000183,0.000115
57574,89ac2db,1989-04-27 10:04:30,0,0.006965,0.000982,0.000230,0.000095,0.000033
57575,89ac2db,1989-04-27 10:05:00,0,0.007294,0.000746,0.000151,0.000057,0.000034
57576,89ac2db,1989-04-27 10:05:30,0,0.007492,0.000547,0.000159,0.000064,0.000031

### LightGBM実装

In [34]:
train_x = trn_df.iloc[:, 3:]
train_y = trn_df[COL_CONDITION]

val_x = val_df.iloc[:, 3:]
val_y = val_df[COL_CONDITION]

trains = lgb.Dataset(train_x, train_y)
valids = lgb.Dataset(val_x, val_y)

params = {
    "objective": "regression",
    "metrics": "mae"
}

In [35]:
model = lgb.train(params, trains, valid_sets=valids, num_boost_round=1000, early_stopping_rounds=100)

[LightGBM] [Warning] Auto-choosing row-wise multi-threading, the overhead of testing was 0.000914 seconds.
You can set `force_row_wise=true` to remove the overhead.
And if memory is not enough, you can set `force_col_wise=true`.
[LightGBM] [Info] Total Bins 1275
[LightGBM] [Info] Number of data points in the train set: 60001, number of used features: 5
[LightGBM] [Info] Start training from score 1.200697
[1]	valid_0's l1: 1.14064
Training until validation scores don't improve for 100 rounds
[2]	valid_0's l1: 1.09709
[3]	valid_0's l1: 1.05829
[4]	valid_0's l1: 1.02361
[5]	valid_0's l1: 0.992405
[6]	valid_0's l1: 0.961935
[7]	valid_0's l1: 0.936277
[8]	valid_0's l1: 0.912159
[9]	valid_0's l1: 0.892507
[10]	valid_0's l1: 0.874827
[11]	valid_0's l1: 0.858249
[12]	valid_0's l1: 0.842314
[13]	valid_0's l1: 0.82892
[14]	valid_0's l1: 0.817685
[15]	valid_0's l1: 0.805929
[16]	valid_0's l1: 0.795053
[17]	valid_0's l1: 0.786612
[18]	valid_0's l1: 0.778814
[19]	valid_0's l1: 0.77217
[20]	valid_0's l1: 0.766242
[21]	valid_0's l1: 0.760166
[22]	valid_0's l1: 0.754844
[23]	valid_0's l1: 0.750274
[24]	valid_0's l1: 0.7464
[25]	valid_0's l1: 0.742459
[26]	valid_0's l1: 0.739227
[27]	valid_0's l1: 0.73636
[28]	valid_0's l1: 0.734281
[29]	valid_0's l1: 0.732241
[30]	valid_0's l1: 0.73006
[31]	valid_0's l1: 0.727567
[32]	valid_0's l1: 0.725575
[33]	valid_0's l1: 0.723522
[34]	valid_0's l1: 0.721294
[35]	valid_0's l1: 0.72067
[36]	valid_0's l1: 0.719981
[37]	valid_0's l1: 0.718446
[38]	valid_0's l1: 0.716355
[39]	valid_0's l1: 0.715489
[40]	valid_0's l1: 0.713516
[41]	valid_0's l1: 0.71332
[42]	valid_0's l1: 0.71188
[43]	valid_0's l1: 0.711894
[44]	valid_0's l1: 0.71055
[45]	valid_0's l1: 0.710172
[46]	valid_0's l1: 0.708665
[47]	valid_0's l1: 0.708578
[48]	valid_0's l1: 0.708574
[49]	valid_0's l1: 0.70762
[50]	valid_0's l1: 0.70635
[51]	valid_0's l1: 0.705864
[52]	valid_0's l1: 0.705728
[53]	valid_0's l1: 0.705063
[54]	valid_0's l1: 0.704284
[55]	valid_0's l1: 0.704321
[56]	valid_0's l1: 0.703934
[57]	valid_0's l1: 0.703237
[58]	valid_0's l1: 0.702444
[59]	valid_0's l1: 0.702191
[60]	valid_0's l1: 0.702219
[61]	valid_0's l1: 0.702109
[62]	valid_0's l1: 0.702132
[63]	valid_0's l1: 0.701657
[64]	valid_0's l1: 0.701567
[65]	valid_0's l1: 0.701176
[66]	valid_0's l1: 0.700757
[67]	valid_0's l1: 0.700515
[68]	valid_0's l1: 0.700172
[69]	valid_0's l1: 0.700088
[70]	valid_0's l1: 0.700401
[71]	valid_0's l1: 0.700168
[72]	valid_0's l1: 0.699979
[73]	valid_0's l1: 0.699982
[74]	valid_0's l1: 0.700281
[75]	valid_0's l1: 0.70012
[76]	valid_0's l1: 0.699785
[77]	valid_0's l1: 0.699643
[78]	valid_0's l1: 0.699487
[79]	valid_0's l1: 0.699217
[80]	valid_0's l1: 0.699509
[81]	valid_0's l1: 0.699484
[82]	valid_0's l1: 0.699315
[83]	valid_0's l1: 0.699119
[84]	valid_0's l1: 0.698852
[85]	valid_0's l1: 0.698724
[86]	valid_0's l1: 0.698691
[87]	valid_0's l1: 0.698682
[88]	valid_0's l1: 0.698733
[89]	valid_0's l1: 0.698878
[90]	valid_0's l1: 0.698864
[91]	valid_0's l1: 0.698479
[92]	valid_0's l1: 0.698486
[93]	valid_0's l1: 0.698534
[94]	valid_0's l1: 0.698546
[95]	valid_0's l1: 0.698615
[96]	valid_0's l1: 0.69835
[97]	valid_0's l1: 0.69825
[98]	valid_0's l1: 0.698128
[99]	valid_0's l1: 0.697872
[100]	valid_0's l1: 0.697871
[101]	valid_0's l1: 0.697737
[102]	valid_0's l1: 0.697516
[103]	valid_0's l1: 0.697358
[104]	valid_0's l1: 0.697348
[105]	valid_0's l1: 0.697396
[106]	valid_0's l1: 0.697416
[107]	valid_0's l1: 0.69716
[108]	valid_0's l1: 0.697216
[109]	valid_0's l1: 0.697065
[110]	valid_0's l1: 0.697052
[111]	valid_0's l1: 0.697209
[112]	valid_0's l1: 0.697185
[113]	valid_0's l1: 0.697199
[114]	valid_0's l1: 0.697011
[115]	valid_0's l1: 0.696563
[116]	valid_0's l1: 0.696572
[117]	valid_0's l1: 0.69657
[118]	valid_0's l1: 0.696663
[119]	valid_0's l1: 0.696406
[120]	valid_0's l1: 0.696339
[121]	valid_0's l1: 0.696337
[122]	valid_0's l1: 0.696372
[123]	valid_0's l1: 0.696503
[124]	valid_0's l1: 0.696548
[125]	valid_0's l1: 0.696506
[126]	valid_0's l1: 0.696506
[127]	valid_0's l1: 0.696548
[128]	valid_0's l1: 0.696426
[129]	valid_0's l1: 0.696429
[130]	valid_0's l1: 0.696431
[131]	valid_0's l1: 0.696597
[132]	valid_0's l1: 0.696506
[133]	valid_0's l1: 0.69654
[134]	valid_0's l1: 0.69653
[135]	valid_0's l1: 0.696589
[136]	valid_0's l1: 0.696584
[137]	valid_0's l1: 0.696583
[138]	valid_0's l1: 0.696556
[139]	valid_0's l1: 0.69634
[140]	valid_0's l1: 0.696374
[141]	valid_0's l1: 0.696463
[142]	valid_0's l1: 0.696332
[143]	valid_0's l1: 0.696391
[144]	valid_0's l1: 0.696317
[145]	valid_0's l1: 0.696271
[146]	valid_0's l1: 0.696315
[147]	valid_0's l1: 0.695899
[148]	valid_0's l1: 0.695886
[149]	valid_0's l1: 0.695934
[150]	valid_0's l1: 0.695914
[151]	valid_0's l1: 0.695934
[152]	valid_0's l1: 0.695528
[153]	valid_0's l1: 0.695517
[154]	valid_0's l1: 0.695425
[155]	valid_0's l1: 0.695395
[156]	valid_0's l1: 0.695285
[157]	valid_0's l1: 0.69534
[158]	valid_0's l1: 0.695398
[159]	valid_0's l1: 0.695222
[160]	valid_0's l1: 0.695202
[161]	valid_0's l1: 0.695102
[162]	valid_0's l1: 0.695066
[163]	valid_0's l1: 0.695141
[164]	valid_0's l1: 0.695276
[165]	valid_0's l1: 0.695086
[166]	valid_0's l1: 0.695115
[167]	valid_0's l1: 0.695116
[168]	valid_0's l1: 0.695167
[169]	valid_0's l1: 0.695189
[170]	valid_0's l1: 0.695269
[171]	valid_0's l1: 0.695208
[172]	valid_0's l1: 0.695212
[173]	valid_0's l1: 0.695381
[174]	valid_0's l1: 0.695452
[175]	valid_0's l1: 0.695513
[176]	valid_0's l1: 0.695523
[177]	valid_0's l1: 0.695495
[178]	valid_0's l1: 0.695298
[179]	valid_0's l1: 0.695196
[180]	valid_0's l1: 0.695293
[181]	valid_0's l1: 0.69541
[182]	valid_0's l1: 0.69522
[183]	valid_0's l1: 0.695218
[184]	valid_0's l1: 0.695312
[185]	valid_0's l1: 0.695362
[186]	valid_0's l1: 0.695312
[187]	valid_0's l1: 0.695396
[188]	valid_0's l1: 0.695392
[189]	valid_0's l1: 0.695353
[190]	valid_0's l1: 0.695317
[191]	valid_0's l1: 0.69535
[192]	valid_0's l1: 0.695296
[193]	valid_0's l1: 0.695239
[194]	valid_0's l1: 0.695235
[195]	valid_0's l1: 0.695238
[196]	valid_0's l1: 0.695351
[197]	valid_0's l1: 0.695272
[198]	valid_0's l1: 0.695424
[199]	valid_0's l1: 0.69524
[200]	valid_0's l1: 0.695183
[201]	valid_0's l1: 0.695151
[202]	valid_0's l1: 0.695158
[203]	valid_0's l1: 0.69519
[204]	valid_0's l1: 0.695287
[205]	valid_0's l1: 0.695301
[206]	valid_0's l1: 0.695446
[207]	valid_0's l1: 0.695329
[208]	valid_0's l1: 0.695291
[209]	valid_0's l1: 0.69524
[210]	valid_0's l1: 0.695253
[211]	valid_0's l1: 0.695283
[212]	valid_0's l1: 0.695159
[213]	valid_0's l1: 0.695204
[214]	valid_0's l1: 0.695377
[215]	valid_0's l1: 0.695448
[216]	valid_0's l1: 0.695426
[217]	valid_0's l1: 0.695471
[218]	valid_0's l1: 0.695619
[219]	valid_0's l1: 0.695584
[220]	valid_0's l1: 0.695577
[221]	valid_0's l1: 0.695675
[222]	valid_0's l1: 0.695636
[223]	valid_0's l1: 0.695604
[224]	valid_0's l1: 0.695544
[225]	valid_0's l1: 0.695681
[226]	valid_0's l1: 0.695438
[227]	valid_0's l1: 0.695314
[228]	valid_0's l1: 0.695297
[229]	valid_0's l1: 0.695321
[230]	valid_0's l1: 0.695328
[231]	valid_0's l1: 0.695415
[232]	valid_0's l1: 0.695427
[233]	valid_0's l1: 0.695481
[234]	valid_0's l1: 0.695393
[235]	valid_0's l1: 0.695454
[236]	valid_0's l1: 0.695422
[237]	valid_0's l1: 0.695347
[238]	valid_0's l1: 0.695384
[239]	valid_0's l1: 0.695397
[240]	valid_0's l1: 0.695436
[241]	valid_0's l1: 0.695389
[242]	valid_0's l1: 0.695433
[243]	valid_0's l1: 0.695406
[244]	valid_0's l1: 0.695438
[245]	valid_0's l1: 0.695518
[246]	valid_0's l1: 0.695538
[247]	valid_0's l1: 0.69554
[248]	valid_0's l1: 0.695507
[249]	valid_0's l1: 0.695527
[250]	valid_0's l1: 0.695633
[251]	valid_0's l1: 0.695455
[252]	valid_0's l1: 0.695443
[253]	valid_0's l1: 0.695297
[254]	valid_0's l1: 0.695379
[255]	valid_0's l1: 0.695379
[256]	valid_0's l1: 0.695452
[257]	valid_0's l1: 0.695543
[258]	valid_0's l1: 0.695577
[259]	valid_0's l1: 0.695638
[260]	valid_0's l1: 0.695741
[261]	valid_0's l1: 0.695815
[262]	valid_0's l1: 0.6958
Early stopping, best iteration is:
[162]	valid_0's l1: 0.695066